<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Lisää kategoria</title>
</head>
<body>
<h1>Lisää uusi kategoria</h1>
<form th:action="@{/categories}" th:object="${category}" method="post">
    <div>
        <label for="name">Nimi:</label>
        <input type="text" id="name" name="name" th:field="*{name}" required>
    </div>
    <button type="submit">Tallenna</button>
</form>
<a href="/categories">Takaisin kategorioihin</a>
</body>
</html>