<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Kategorian tapahtumat</title>
</head>
<body>
<h1>Tapahtumat kategoriassa "<span th:text="${category.name}"></span>"</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Otsikko</th>
        <th>Kuvaus</th>
        <th>Päivämäärä</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.title}"></td>
        <td th:text="${event.description}"></td>
        <td th:text="${event.date}"></td>
    </tr>
    </tbody>
</table>
<a href="/categories">Takaisin kategorioihin</a>
</body>
</html>
