<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Kirjaudu sisään</title>
</head>
<body>
<h1>Kirjaudu sisään</h1>
<form th:action="@{/login}" method="post">
    <div>
        <label>Käyttäjätunnus:</label>
        <input type="text" name="username" />
    </div>
    <div>
        <label>Salasana:</label>
        <input type="password" name="password" />
    </div>
    <div>
        <button type="submit">Kirjaudu</button>
    </div>
</form>
</body>
</html>
