<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/style.css">
    <title>Toiminnot</title>
</head>

<body>
<h1>Toiminnot</h1>
<form th:action="@{/toiminnot/lisaa}" th:object="${tapahtuma}" method="post">
    <label>Otsikko:</label>
    <input type="text" th:field="*{title}" placeholder="Anna otsikko" />
    <label>Päivämäärä:</label>
    <input type="date" th:field="*{date}" />
    <label>Kategoriat:</label>
    <select multiple th:field="*{categories}">
        <option th:each="category : ${kategoriat}" th:value="${category.id}" th:text="${category.name}"></option>
    </select>
    <button type="submit">Lisää Toiminto</button>
</form>
<hr />
<h2>Kaikki Toiminnot</h2>
<table>
    <tr>
        <th>Otsikko</th>
        <th>Päivämäärä</th>
        <th>Kategoriat</th>
        <th>Toiminnot</th>
    </tr>
    <tr th:each="event : ${tapahtumat}">
        <td th:text="${event.title}">Otsikko</td>
        <td th:text="${event.date}">Päivämäärä</td>
        <td>
            <span th:each="category : ${event.categories}" th:text="${category.name}">Kategoria</span>
        </td>
        <td>
            <a th:href="@{/toiminnot/muokkaa/{id}(id=${event.id})}">Muokkaa</a>
            <a th:href="@{/toiminnot/poista/{id}(id=${event.id})}">Poista</a>
        </td>
    </tr>
</table>
</body>

</html>